## Introdução a Collections Parte I - Listas e Tuplas

### Índice 
- [1 - Listas e Operações](#1---listas-e-operações)
- [2 - Tuplas](#2---tuplas)
- [3 - Polimorfismo e Arrays](#3---polimorfismo-e-arrays)
- [4 - Igualdade](#4---igualdade)
- [5 - Outros Builtins](#5---outros-builtins)
- [6 - Ordem Natural](#6---ordem-natural)
- [7 - Ordenação Customizada](#7---ordenação-customizada)
- [8 - Ordenação Total](#8---ordenação-total)


## 1 - Listas e Operações

In [47]:
idade1 = 39
idade2 = 30
idade3 = 27

print(idade1)
print(idade2)
print(idade3)

39
30
27

In [48]:
idades = [39, 30, 27, 18]
print(type(idades))

<class 'list'>

In [49]:
len(idades)

4

In [50]:
idades[0]

39

In [51]:
idades

[39, 30, 27, 18]

In [52]:
idades.append(15)
idades

[39, 30, 27, 18, 15]

In [53]:
idades[4]

15

In [54]:
for idade in idades:
    print(idade)

39
30
27
18
15

In [55]:
idades.remove(30)
idades

[39, 27, 18, 15]

In [56]:
idades.remove(30)
idades

ValueError: list.remove(x): x not in list

In [ ]:
idades.append(15)
idades

[39, 27, 18, 15, 15]

In [ ]:
idades.remove(15)
idades

[39, 27, 18, 15]

In [ ]:
idades.append(27)
idades.remove(27)
idades

[39, 18, 15, 27]

In [ ]:
28 in idades

False

In [ ]:
15 in idades

True

In [ ]:
if 15 in idades:
    idades.remove(15)

idades

[39, 18, 27]

In [ ]:
idades.append(19)
idades

[39, 18, 27, 19]

In [ ]:
idades.insert(0,20)
idades

[20, 39, 18, 27, 19]

In [ ]:
idades = [20, 39, 18]
idades.append([27,19])
idades

[20, 39, 18, [27, 19]]

In [ ]:
for elemento in idades:
    print("Recebi o elemento", elemento)

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 18
Recebi o elemento [27, 19]

In [ ]:
idades = [20, 39, 18]
idades.extend([27,19])
idades

[20, 39, 18, 27, 19]

In [ ]:
for idade in idades:
    print(idade + 1)

21
40
19
28
20

In [ ]:
idades_no_ano_que_vem = []
for idade in idades:
    idades_no_ano_que_vem.append(idade+1)
    
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [ ]:
idades_no_ano_que_vem = [(idade+1) for idade in idades]
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [ ]:
[idade for idade in idades if idade > 21]

[39, 27]

In [ ]:
def proximo_ano(idade):
    return idade + 1

[proximo_ano(idade) for idade in idades if idade > 21]

[40, 28]

In [ ]:
def faz_processamento_de_visualizacao(lista):
    print(len(lista))

idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43]

In [ ]:
def faz_processamento_de_visualizacao(lista=None):
    if lista == None:
        lista = list()
    print(len(lista))
    print(lista)
    lista.append(13)

faz_processamento_de_visualizacao()

0
[]


## 2 - Tuplas

In [ ]:
class ContaCorrente():

    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0

    def deposita(self, valor):
        self.saldo += valor

    def __str__(self):
        return "[>>Código: {} Saldo: {}<<]".format(self.codigo, self.saldo)

In [ ]:
conta_naruto = ContaCorrente(15)
conta_naruto.deposita(500)
print(conta_naruto)

[>>Código: 15 Saldo: 500<<]

In [ ]:
conta_batman = ContaCorrente(47685)
conta_batman.deposita(1000)
print(conta_batman)

[>>Código: 47685 Saldo: 1000<<]

In [ ]:
contas = [conta_naruto, conta_batman]
print(contas)
contas

[<__main__.ContaCorrente object at 0x000001A114417530>, <__main__.ContaCorrente object at 0x000001A1144F78C0>]

[<__main__.ContaCorrente at 0x1a114417530>,
 <__main__.ContaCorrente at 0x1a1144f78c0>]

In [ ]:
contas = [conta_naruto, conta_batman]
for conta in contas:
    print(conta)

[>>Código: 15 Saldo: 500<<]
[>>Código: 47685 Saldo: 1000<<]

In [ ]:
def deposita_para_todas(contas):
    for conta in contas:
        conta.deposita(100)

contas = [conta_naruto, conta_batman]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>Código: 15 Saldo: 500<<] [>>Código: 47685 Saldo: 1000<<]
[>>Código: 15 Saldo: 600<<] [>>Código: 47685 Saldo: 1100<<]

In [ ]:
contas.insert(0,76)
print(contas[0], contas[1], contas[2])

76 [>>Código: 15 Saldo: 600<<] [>>Código: 47685 Saldo: 1100<<]

In [ ]:
deposita_para_todas(contas)
print(contas[0], contas[1], contas[2])

AttributeError: 'int' object has no attribute 'deposita'

In [ ]:
batman =("Batman", 37, 1981)
naruto = ("Naruto", 31, 1987)

In [ ]:
usuarios = [batman, naruto]
usuarios

[('Batman', 37, 1981), ('Naruto', 31, 1987)]

In [ ]:
usuarios.append(("Paulo", 39, 1979))
usuarios

[('Batman', 37, 1981), ('Naruto', 31, 1987), ('Paulo', 39, 1979)]

In [ ]:
usuarios[0]

('Batman', 37, 1981)

In [ ]:
usuarios[0][0]

'Batman'

In [ ]:
conta_batman = ContaCorrente(15)
conta_batman.deposita(500)
conta_naruto = ContaCorrente(234876)
conta_naruto.deposita(1000)

contas = (conta_batman, conta_naruto)
contas

(<__main__.ContaCorrente at 0x1a11454bc20>,
 <__main__.ContaCorrente at 0x1a114549c10>)

In [ ]:
for conta in contas:
    print(conta)

[>>Código: 15 Saldo: 500<<]
[>>Código: 234876 Saldo: 1000<<]

In [ ]:
contas[0].deposita(300)

In [ ]:
for conta in contas:
    print(conta)

[>>Código: 15 Saldo: 800<<]
[>>Código: 234876 Saldo: 1000<<]

## 3 - Polimorfismo e Arrays

In [ ]:
class Conta():

    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return "[>> Código: {} Saldo: {} <<]".format(self._codigo, self._saldo)

In [ ]:
print(Conta(88))

[>> Código: 88 Saldo: 0 <<]

In [ ]:
class ContaCorrente(Conta):

    def passa_o_mes(self):
        self._saldo -= 2
    
class ContaPoupanca(Conta):

    def passa_o_mes(self):
        self._saldo *= 1.01
        self._saldo -= 3

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>> Código: 16 Saldo: 998 <<]

In [ ]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>> Código: 17 Saldo: 1007.0 <<]

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
    conta.passa_o_mes()
    print(conta)

[>> Código: 16 Saldo: 998 <<]
[>> Código: 17 Saldo: 1007.0 <<]

##### Array, evitaremos usar

In [ ]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

##### Evitaremos usar array puro, se precisamos de trabalho numérico, é costume usar o numpy

In [ ]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [ ]:
numeros + 3

array([4. , 6.5])

---

##### Método Abstrato

In [ ]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):

    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    @abstractmethod
    def passa_o_mes(self):
        pass

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return "[>> Código: {} Saldo: {} <<]".format(self._codigo, self._saldo)

In [ ]:
print(Conta(88))

TypeError: Can't instantiate abstract class Conta without an implementation for abstract method 'passa_o_mes'

## 4 - Igualdade

In [ ]:
class ContaSalario:

    def __init__(self, codigo) -> None:
        self._codigo = codigo
        self._saldo = 0

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self) -> str:
        return "[>> Código {} Saldo {} <<]".format(self._codigo, self._saldo)

In [ ]:
conta1 = ContaSalario(37)
print(conta1)

[>> Código 37 Saldo 0 <<]

In [ ]:
conta2 = ContaSalario(37)
print(conta2)

[>> Código 37 Saldo 0 <<]

In [ ]:
conta1 == conta2

False

In [ ]:
class ContaSalario:

    def __init__(self, codigo) -> None:
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro) -> bool:
        return self._codigo == outro._codigo

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self) -> str:
        return "[>> Código {} Saldo {} <<]".format(self._codigo, self._saldo)

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [ ]:
conta1 != conta2

False

In [ ]:
class ContaSalario:

    def __init__(self, codigo) -> None:
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro) -> bool:
        return self._codigo == outro._codigo and self._saldo == outro._saldo

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self) -> str:
        return "[>> Código {} Saldo {} <<]".format(self._codigo, self._saldo)

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [ ]:
conta1.deposita(10)

In [ ]:
conta1 == conta2

False

In [57]:
class ContaSalario:

    def __init__(self, codigo) -> None:
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro) -> bool:
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self) -> str:
        return "[>> Código {} Saldo {} <<]".format(self._codigo, self._saldo)

In [58]:
conta3 = ContaSalario(37)
conta4 = ContaCorrente(37)

conta3 == conta4

False

In [ ]:
class ContaSalario:

    def __init__(self, codigo) -> None:
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro) -> bool:
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self) -> str:
        return "[>> Código {} Saldo {} <<]".format(self._codigo, self._saldo)
    
class ContaMultiploSalario(ContaSalario):
    pass

In [ ]:
isinstance(ContaCorrente(34), ContaCorrente)

True

In [ ]:
isinstance(ContaCorrente(34), Conta)

False

## 5 - Outros Builtins

In [62]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]
print("Tamanho:", len(idades))
range(len(idades))

Tamanho: 8

range(0, 8)

In [64]:
for i in range(len(idades)):
    print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [65]:
enumerate(idades)

In [66]:
list(range(len(idades)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [67]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [69]:
for valor in enumerate(idades):
    print(valor)

(0, 15)
(1, 87)
(2, 32)
(3, 65)
(4, 56)
(5, 32)
(6, 49)
(7, 37)

In [70]:
for indice, idade in enumerate(idades):
    print(indice, idade)

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [71]:
usuarios = [
    ("Guilherme", 37, 1981),
    ("Daniela", 31, 1987),
    ("Paulo", 39, 1979),
]

for nome, idade, nascimento in usuarios:
    print(nome)

Guilherme
Daniela
Paulo

In [72]:
for nome, _, _ in usuarios:
    print(nome)

Guilherme
Daniela
Paulo

## 6 - Ordem natural

In [73]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [74]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [76]:
list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [77]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [78]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [79]:
idades.sort()
idades

[15, 32, 32, 37, 49, 56, 65, 87]

## 7 - Ordenação Customizada

In [80]:
idades

[15, 32, 32, 37, 49, 56, 65, 87]

In [81]:
nomes = ["Guilherme", "Daniela", "Paulo"]
sorted(nomes)

['Daniela', 'Guilherme', 'Paulo']

In [82]:
class ContaSalario:

    def __init__(self, codigo) -> None:
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro) -> bool:
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self) -> str:
        return "[>> Código {} Saldo {} <<]".format(self._codigo, self._saldo)

In [90]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

for conta in contas:
    print(conta)

[>> Código 17 Saldo 500 <<]
[>> Código 3 Saldo 1000 <<]
[>> Código 133 Saldo 510 <<]

In [91]:
sorted(contas)

TypeError: '<' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [92]:
def extrai_saldo(conta):
    return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
    print(conta)

[>> Código 17 Saldo 500 <<]
[>> Código 133 Saldo 510 <<]
[>> Código 3 Saldo 1000 <<]

In [93]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
    print(conta)

[>> Código 17 Saldo 500 <<]
[>> Código 133 Saldo 510 <<]
[>> Código 3 Saldo 1000 <<]

In [94]:
conta_do_guilherme < conta_da_daniela

TypeError: '<' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [102]:
class ContaSalario:

    def __init__(self, codigo) -> None:
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro) -> bool:
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def __lt__(self, outro):
        return self._saldo < outro._saldo

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self) -> str:
        return "[>> Código {} Saldo {} <<]".format(self._codigo, self._saldo)

In [103]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [104]:
conta_do_guilherme < conta_da_daniela

True

In [105]:
conta_do_guilherme >conta_da_daniela

False

In [106]:
for conta in sorted(contas):
    print(conta)

[>> Código 17 Saldo 500 <<]
[>> Código 133 Saldo 510 <<]
[>> Código 3 Saldo 1000 <<]

In [107]:
for conta in sorted(contas, reverse=True):
    print(conta)

[>> Código 3 Saldo 1000 <<]
[>> Código 133 Saldo 510 <<]
[>> Código 17 Saldo 500 <<]

## 8 - Ordenação Total

In [109]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [110]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
    print(conta)

[>> Código 133 Saldo 500 <<]
[>> Código 1700 Saldo 500 <<]
[>> Código 3 Saldo 1000 <<]

In [112]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
    print(conta)

[>> Código 3 Saldo 500 <<]
[>> Código 133 Saldo 500 <<]
[>> Código 1700 Saldo 500 <<]

In [113]:
class ContaSalario:

    def __init__(self, codigo) -> None:
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro) -> bool:
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def __lt__(self, outro):
        if self._saldo != outro._saldo:
            return self._saldo < outro._saldo
        
        return self._codigo < outro._codigo

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self) -> str:
        return "[>> Código {} Saldo {} <<]".format(self._codigo, self._saldo)

In [114]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
    print(conta)

[>> Código 3 Saldo 500 <<]
[>> Código 133 Saldo 500 <<]
[>> Código 1700 Saldo 500 <<]

In [115]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
    print(conta)

[>> Código 133 Saldo 500 <<]
[>> Código 1700 Saldo 500 <<]
[>> Código 3 Saldo 1000 <<]

In [116]:
conta_do_guilherme < conta_da_daniela

True

In [117]:
conta_do_guilherme <= conta_da_daniela

TypeError: '<=' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [118]:
from functools import total_ordering

@total_ordering
class ContaSalario:

    def __init__(self, codigo) -> None:
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro) -> bool:
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def __lt__(self, outro):
        if self._saldo != outro._saldo:
            return self._saldo < outro._saldo
        
        return self._codigo < outro._codigo

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self) -> str:
        return "[>> Código {} Saldo {} <<]".format(self._codigo, self._saldo)

In [119]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [120]:
conta_do_guilherme <= conta_da_daniela

True

In [121]:
conta_do_guilherme <= conta_do_paulo

False

In [123]:
conta_do_guilherme < conta_do_guilherme

False